In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import matplotlib
matplotlib.style.use('ggplot')

import scipy.stats as st
from scipy.stats import linregress
from scipy.stats import sem

import seaborn as sns

In [2]:
Population_df = pd.read_csv("State Population Projections 2004-2030.txt",  delimiter = "\t")
Population_df.head(30)

,Notes,Gender,Gender Code,State,State Code,Age Group,Age Group Code,Year,Year Code,Projected Populations
0,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2004.0,2004.0,148659.0
1,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2005.0,2005.0,148492.0
2,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2006.0,2006.0,147010.0
3,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2007.0,2007.0,146675.0
4,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2008.0,2008.0,146441.0
5,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2009.0,2009.0,146225.0
6,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2010.0,2010.0,146076.0
7,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2011.0,2011.0,145953.0
8,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2012.0,2012.0,145811.0
9,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2013.0,2013.0,145612.0
10,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2014.0,2014.0,145331.0
11,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2015.0,2015.0,144987.0
12,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2016.0,2016.0,144656.0
13,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2017.0,2017.0,144374.0
14,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2018.0,2018.0,144194.0
15,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2019.0,2019.0,144149.0
16,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2020.0,2020.0,144267.0
17,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2021.0,2021.0,144544.0
18,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2022.0,2022.0,144988.0
19,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2023.0,2023.0,145572.0
20,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2024.0,2024.0,146295.0
21,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2025.0,2025.0,147148.0
22,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2026.0,2026.0,148076.0
23,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2027.0,2027.0,149054.0
24,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2028.0,2028.0,150086.0
25,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2029.0,2029.0,151162.0
26,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2030.0,2030.0,152260.0
27,Total,Female,F,Alabama,1.0,0-4 years,0-4,NaN,NaN,3958097.0
28,NaN,Female,F,Alabama,1.0,5-9 years,5-9,2004.0,2004.0,145777.0
29,NaN,Female,F,Alabama,1.0,5-9 years,5-9,2005.0,2005.0,145815.0

In [3]:
#Population_df = pd.read_csv("Population_2010 to 2019.csv")
#Population_df.head(10)

In [4]:
Clean_Population_df = Population_df.loc[(Population_df["Notes"]!= "Total")]
Clean_Population_df.head(35)

,Notes,Gender,Gender Code,State,State Code,Age Group,Age Group Code,Year,Year Code,Projected Populations
0,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2004.0,2004.0,148659.0
1,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2005.0,2005.0,148492.0
2,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2006.0,2006.0,147010.0
3,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2007.0,2007.0,146675.0
4,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2008.0,2008.0,146441.0
5,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2009.0,2009.0,146225.0
6,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2010.0,2010.0,146076.0
7,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2011.0,2011.0,145953.0
8,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2012.0,2012.0,145811.0
9,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2013.0,2013.0,145612.0
10,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2014.0,2014.0,145331.0
11,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2015.0,2015.0,144987.0
12,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2016.0,2016.0,144656.0
13,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2017.0,2017.0,144374.0
14,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2018.0,2018.0,144194.0
15,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2019.0,2019.0,144149.0
16,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2020.0,2020.0,144267.0
17,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2021.0,2021.0,144544.0
18,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2022.0,2022.0,144988.0
19,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2023.0,2023.0,145572.0
20,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2024.0,2024.0,146295.0
21,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2025.0,2025.0,147148.0
22,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2026.0,2026.0,148076.0
23,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2027.0,2027.0,149054.0
24,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2028.0,2028.0,150086.0
25,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2029.0,2029.0,151162.0
26,NaN,Female,F,Alabama,1.0,0-4 years,0-4,2030.0,2030.0,152260.0
28,NaN,Female,F,Alabama,1.0,5-9 years,5-9,2004.0,2004.0,145777.0
29,NaN,Female,F,Alabama,1.0,5-9 years,5-9,2005.0,2005.0,145815.0
30,NaN,Female,F,Alabama,1.0,5-9 years,5-9,2006.0,2006.0,147377.0
31,NaN,Female,F,Alabama,1.0,5-9 years,5-9,2007.0,2007.0,148033.0
32,NaN,Female,F,Alabama,1.0,5-9 years,5-9,2008.0,2008.0,148603.0
33,NaN,Female,F,Alabama,1.0,5-9 years,5-9,2009.0,2009.0,149050.0
34,NaN,Female,F,Alabama,1.0,5-9 years,5-9,2010.0,2010.0,148972.0
35,NaN,Female,F,Alabama,1.0,5-9 years,5-9,2011.0,2011.0,147562.0

In [5]:
Clean_Population_df = Clean_Population_df.loc[:, ["Gender", "State", "Age Group", "Year", "Projected Populations"]]
Clean_Population_df.head(50)

    Gender    State  Age Group    Year  Projected Populations
0   Female  Alabama  0-4 years  2004.0               148659.0
1   Female  Alabama  0-4 years  2005.0               148492.0
2   Female  Alabama  0-4 years  2006.0               147010.0
3   Female  Alabama  0-4 years  2007.0               146675.0
4   Female  Alabama  0-4 years  2008.0               146441.0
5   Female  Alabama  0-4 years  2009.0               146225.0
6   Female  Alabama  0-4 years  2010.0               146076.0
7   Female  Alabama  0-4 years  2011.0               145953.0
8   Female  Alabama  0-4 years  2012.0               145811.0
9   Female  Alabama  0-4 years  2013.0               145612.0
10  Female  Alabama  0-4 years  2014.0               145331.0
11  Female  Alabama  0-4 years  2015.0               144987.0
12  Female  Alabama  0-4 years  2016.0               144656.0
13  Female  Alabama  0-4 years  2017.0               144374.0
14  Female  Alabama  0-4 years  2018.0               144194.0
15  Female  Alabama  0-4 years  2019.0               144149.0
16  Female  Alabama  0-4 years  2020.0               144267.0
17  Female  Alabama  0-4 years  2021.0               144544.0
18  Female  Alabama  0-4 years  2022.0               144988.0
19  Female  Alabama  0-4 years  2023.0               145572.0
20  Female  Alabama  0-4 years  2024.0               146295.0
21  Female  Alabama  0-4 years  2025.0               147148.0
22  Female  Alabama  0-4 years  2026.0               148076.0
23  Female  Alabama  0-4 years  2027.0               149054.0
24  Female  Alabama  0-4 years  2028.0               150086.0
25  Female  Alabama  0-4 years  2029.0               151162.0
26  Female  Alabama  0-4 years  2030.0               152260.0
28  Female  Alabama  5-9 years  2004.0               145777.0
29  Female  Alabama  5-9 years  2005.0               145815.0
30  Female  Alabama  5-9 years  2006.0               147377.0
31  Female  Alabama  5-9 years  2007.0               148033.0
32  Female  Alabama  5-9 years  2008.0               148603.0
33  Female  Alabama  5-9 years  2009.0               149050.0
34  Female  Alabama  5-9 years  2010.0               148972.0
35  Female  Alabama  5-9 years  2011.0               147562.0
36  Female  Alabama  5-9 years  2012.0               147305.0
37  Female  Alabama  5-9 years  2013.0               147149.0
38  Female  Alabama  5-9 years  2014.0               147022.0
39  Female  Alabama  5-9 years  2015.0               146966.0
40  Female  Alabama  5-9 years  2016.0               146940.0
41  Female  Alabama  5-9 years  2017.0               146902.0
42  Female  Alabama  5-9 years  2018.0               146817.0
43  Female  Alabama  5-9 years  2019.0               146643.0
44  Female  Alabama  5-9 years  2020.0               146400.0
45  Female  Alabama  5-9 years  2021.0               146178.0
46  Female  Alabama  5-9 years  2022.0               146002.0
47  Female  Alabama  5-9 years  2023.0               145944.0
48  Female  Alabama  5-9 years  2024.0               146041.0
49  Female  Alabama  5-9 years  2025.0               146303.0
50  Female  Alabama  5-9 years  2026.0               146702.0

In [6]:
# Extract data from 2005 to 2014
Clean_Population_df = Clean_Population_df.loc[(Clean_Population_df["Year"] >= 2005.0) & (Clean_Population_df["Year"] <2015.0)]
Clean_Population_df.head(10)

    Gender    State  Age Group    Year  Projected Populations
1   Female  Alabama  0-4 years  2005.0               148492.0
2   Female  Alabama  0-4 years  2006.0               147010.0
3   Female  Alabama  0-4 years  2007.0               146675.0
4   Female  Alabama  0-4 years  2008.0               146441.0
5   Female  Alabama  0-4 years  2009.0               146225.0
6   Female  Alabama  0-4 years  2010.0               146076.0
7   Female  Alabama  0-4 years  2011.0               145953.0
8   Female  Alabama  0-4 years  2012.0               145811.0
9   Female  Alabama  0-4 years  2013.0               145612.0
10  Female  Alabama  0-4 years  2014.0               145331.0

In [7]:

Clean_Population_df = Clean_Population_df.groupby(["State"])
Clean_Population_df.head(40)

       Gender    State    Age Group    Year  Projected Populations
1      Female  Alabama    0-4 years  2005.0               148492.0
2      Female  Alabama    0-4 years  2006.0               147010.0
3      Female  Alabama    0-4 years  2007.0               146675.0
4      Female  Alabama    0-4 years  2008.0               146441.0
5      Female  Alabama    0-4 years  2009.0               146225.0
...       ...      ...          ...     ...                    ...
25340  Female  Wyoming  15-19 years  2010.0                14555.0
25341  Female  Wyoming  15-19 years  2011.0                14140.0
25342  Female  Wyoming  15-19 years  2012.0                13882.0
25343  Female  Wyoming  15-19 years  2013.0                13733.0
25344  Female  Wyoming  15-19 years  2014.0                13624.0

[2040 rows x 5 columns]

In [8]:
Clean_Population_df = Clean_Population_df["Projected Populations"].mean()
Clean_Population_df

State
Alabama                 1.274758e+05
Alaska                  1.920684e+04
Arizona                 1.825302e+05
Arkansas                7.957579e+04
California              1.051900e+06
Colorado                1.336318e+05
Connecticut             9.911640e+04
Delaware                2.441772e+04
District of Columbia    1.476813e+04
Florida                 5.306374e+05
Georgia                 2.644477e+05
Hawaii                  3.700507e+04
Idaho                   4.184938e+04
Illinois                3.580808e+05
Indiana                 1.771067e+05
Iowa                    8.344152e+04
Kansas                  7.775745e+04
Kentucky                1.181412e+05
Louisiana               1.278561e+05
Maine                   3.756920e+04
Maryland                1.631813e+05
Massachusetts           1.842758e+05
Michigan                2.889025e+05
Minnesota               1.498987e+05
Mississippi             8.234289e+04
Missouri                1.640366e+05
Montana                 2.679009e+04
Nebraska                4.905348e+04
Nevada                  7.389394e+04
New Hampshire           3.829414e+04
New Jersey              2.496370e+05
New Mexico              5.473336e+04
New York                5.393224e+05
North Carolina          2.578892e+05
North Dakota            1.767182e+04
Ohio                    3.211593e+05
Oklahoma                9.956999e+04
Oregon                  1.048534e+05
Pennsylvania            3.490313e+05
Rhode Island            3.091057e+04
South Carolina          1.229039e+05
South Dakota            2.179050e+04
Tennessee               1.723616e+05
Texas                   6.797026e+05
Utah                    7.162788e+04
Vermont                 1.806262e+04
Virginia                2.212347e+05
Washington              1.810234e+05
West Virginia           5.072597e+04
Wisconsin               1.585569e+05
Wyoming                 1.439126e+04
Name: Projected Populations, dtype: float64

In [12]:
Clean_Population_df = Clean_Population_df.loc[(Clean_Population_df["Age Group"]!= " ")]
Clean_Population_df.head(35)

     Gender    State     Age Group  Year  Projected Populations
27   Female  Alabama     0-4 years   NaN              3958097.0
55   Female  Alabama     5-9 years   NaN              3973885.0
83   Female  Alabama   10-14 years   NaN              4067742.0
111  Female  Alabama   15-19 years   NaN              4153103.0
139  Female  Alabama   20-24 years   NaN              3939154.0
167  Female  Alabama   25-29 years   NaN              3829768.0
195  Female  Alabama   30-34 years   NaN              3918392.0
223  Female  Alabama   35-39 years   NaN              4021749.0
251  Female  Alabama   40-44 years   NaN              4122208.0
279  Female  Alabama   45-49 years   NaN              4279792.0
307  Female  Alabama   50-54 years   NaN              4352317.0
335  Female  Alabama   55-59 years   NaN              4315909.0
363  Female  Alabama  60-64 years    NaN              4065263.0
391  Female  Alabama   65-69 years   NaN              3621616.0
419  Female  Alabama   70-74 years   NaN              2977545.0
447  Female  Alabama   75-79 years   NaN              2315759.0
475  Female  Alabama   80-84 years   NaN              1672832.0
503  Female  Alabama     85+ years   NaN              1883385.0
504  Female  Alabama           NaN   NaN             65468516.0
532  Female   Alaska     0-4 years   NaN               833297.0
560  Female   Alaska     5-9 years   NaN               799867.0
588  Female   Alaska   10-14 years   NaN               706899.0
616  Female   Alaska   15-19 years   NaN               655568.0
644  Female   Alaska   20-24 years   NaN               722369.0
672  Female   Alaska   25-29 years   NaN               758182.0
700  Female   Alaska   30-34 years   NaN               730363.0
728  Female   Alaska   35-39 years   NaN               702592.0
756  Female   Alaska   40-44 years   NaN               663013.0
784  Female   Alaska   45-49 years   NaN               621387.0
812  Female   Alaska   50-54 years   NaN               598679.0
840  Female   Alaska   55-59 years   NaN               558773.0
868  Female   Alaska  60-64 years    NaN               482659.0
896  Female   Alaska   65-69 years   NaN               397555.0
924  Female   Alaska   70-74 years   NaN               307807.0
952  Female   Alaska   75-79 years   NaN               222655.0